module.exports = {
  apps : [{
    name: "shadowsocks-ws",
    script: "./server.min.js",
    env: {
      "NODE_ENV": "production",
      "PROXY": "https://github.com",
      "METHOD": "aes-256-gcm",
      "PASS": "secret",
      "PORT": 80
    }
  }]
}