proxies:
  - name: "ss1"
    type: ss
    server: 127.0.0.1
    port: 8787
    cipher: aes-256-gcm
    password: "secret"

proxy-groups:
  - name: PROXY
    type: select
    proxies:
      - ss1

rule-providers:
  reject:
    behavior: "domain"
    type: file
    path: ./ruleset/reject.yaml

  icloud:
    behavior: "domain"
    type: file
    path: ./ruleset/icloud.yaml

  apple:
    behavior: "domain"
    type: file
    path: ./ruleset/apple.yaml

  google:
    behavior: "domain"
    type: file
    path: ./ruleset/google.yaml

  proxy:
    behavior: "domain"
    type: file
    path: ./ruleset/proxy.yaml

  direct:
    behavior: "domain"
    type: file
    path: ./ruleset/direct.yaml

  private:
    behavior: "domain"
    type: file
    path: ./ruleset/private.yaml

  gfw:
    behavior: "domain"
    type: file
    path: ./ruleset/gfw.yaml

  tld-not-cn:
    behavior: "domain"
    type: file
    path: ./ruleset/tld-not-cn.yaml

  telegramcidr:
    behavior: "ipcidr"
    type: file
    path: ./ruleset/telegramcidr.yaml

  cncidr:
    behavior: "ipcidr"
    type: file
    path: ./ruleset/cncidr.yaml

  lancidr:
    behavior: "ipcidr"
    type: file
    path: ./ruleset/lancidr.yaml

  applications:
    behavior: "classical"
    type: file
    path: ./ruleset/applications.yaml

rules:
  - RULE-SET,applications,DIRECT
  - DOMAIN,clash.razord.top,DIRECT
  - DOMAIN,yacd.haishan.me,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,reject,REJECT
  - RULE-SET,icloud,DIRECT
  - RULE-SET,apple,DIRECT
  - RULE-SET,google,PROXY
  - RULE-SET,proxy,PROXY
  - RULE-SET,direct,DIRECT
  - RULE-SET,lancidr,DIRECT
  - RULE-SET,cncidr,DIRECT
  - RULE-SET,telegramcidr,PROXY
  - GEOIP,LAN,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,PROXY